<div class="teams">
    <div class="teams__heading">
        <h2>Follow your team and never miss a match again</h2>
        <div class="teams__topics" id="teamsTopics" style="cursor: grab;"><a href="" class="news__topic news__topic--selected">Football</a><a href="" class="teams__topic">Cricket</a><a href="" class="news__topic">eSports</a><a href="" class="news__topic">Basketball</a><a href="" class="news__topic">Volleyball</a><a href="" class="news__topic">Tennis</a><a href="" class="news__topic">MMA</a></div>
    </div>  
    <div id="teamsLogos" class="teams__container"></div>
</div>