.app-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.90);
    backdrop-filter: blur(40px);
    z-index: 99;

    &__content {
        display: flex;
        width: 600px;
        padding: 40px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        border-radius: 40px;
        background: var(--white-60, rgba(255, 255, 255, 0.60));
        box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.05);
    }
}