.app-popup {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(255, 255, 255, 0.90);
    backdrop-filter: blur(40px);
    z-index: -1;
    opacity: 0;
    visibility: hidden;
    transition: all .3s ease;

    &.open {
        z-index: 99;
        opacity: 1;
        visibility: visible;
    }

    &__content {
        display: flex;
        width: 600px;
        padding: 40px;
        flex-direction: column;
        justify-content: center;
        gap: 20px;
        border-radius: 40px;
        background: var(--white-60, rgba(255, 255, 255, 0.60));
        box-shadow: 0 4px 40px 0 rgba(0, 0, 0, 0.05);
    }

    &__title {
        font-size: 34px;
        font-weight: 500;
    }

    &__text {
        color: var(--vulcan-40);
        font-size: 16px;
        font-weight: 500;
    }

    &__qr {
        width: 260px;
        height: 260px;
        margin: 20px auto;
    }

    &__controls {
        display: flex;
        align-items: center;
        gap: 20px;
        align-self: stretch;
    }

    &__btn {
        display: flex;
        padding: 16px 24px;
        justify-content: center;
        align-items: flex-end;
        gap: 12px;
        flex: 1 0 0;
       border-radius: 1440px;
       font-size: 16px;
        font-weight: 500;
        height: 51px;

        &--1 {    
            background: var(--main-10, rgba(0, 138, 255, 0.10));
            color: var(--main-100);
        }

        &--2 {
            background: var(--main-100, #008AFF);
            color: var(--white-100);
        }
    }

    &__icons {
        display: flex;
        padding: 0 20px;
        justify-content: center;
        align-items: center;
        gap: 20px;
        align-self: stretch;
        padding-top: 20px;
        border-top: 1px solid var(--vulcan-4);
    }

    &__links {
        padding-top: 20px;
        border-top: 1px solid var(--vulcan-4);
        display: flex;
        flex-direction: column;
        gap: 12px;

        a {
            display: flex;
            padding: 8px 8px 8px 24px;
            align-items: center;
            gap: 12px;
            flex: 1 0 0;
            border-radius: 12px; 
            background: var(--main-100, #008AFF);
            color: var(--white-100, #FFF);
            text-align: center;
            font-size: 16px;
            font-weight: 500;

            span {
              margin: auto;      
            }

            img {
                width: 40px;
                height: 40px; 
            }
        }
    }
}