
  header {
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid var(--vulcan-4);

     @media (max-width: 767px) {
    
     }

  .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 68px;
    position: relative; 
    background: transparent;
    z-index: 1;
    @media (max-width: 767px) {
      
    }

    &__app {
      display: flex;
      align-items: center;
      gap: 12px;

      .btn {
        padding: 6px 12px;
        font-size: 14px;
      }

      @media (max-width: 767px) {
        display: none;
      }
    }

  }
}