.news {
    display: flex;
    padding: 24px 24px 12px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
    align-self: stretch;

    &__heading {
        display: flex;
        align-items: center;
        gap: 36px;
    }

   &__topics {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
    gap: 10px;
    max-width: 750px;
    overflow-x: auto;
    
    /* Обязательные свойства для работы скролла */
    -webkit-overflow-scrolling: touch; /* Плавный скролл на iOS */
    cursor: grab; /* Изменяем курсор при наведении */
    
    /* Курсор при активном скролле */
    &:active {
        cursor: grabbing;
    }
    
    /* Включаем скролл мышью */
    scroll-behavior: smooth;
    
    /* Скрываем скроллбар */
    scrollbar-width: none;
    -ms-overflow-style: none;
    
    &::-webkit-scrollbar {
        display: none;
    }
}

    &__topic {
        display: flex;
        padding: 6px 16px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 16px;
        border: 1px solid var(--vulcan-10, rgba(9, 10, 18, 0.1));
        cursor: pointer;
        transition: all .3s ease;
         color: var(--vulcan);

        &--selected, &:hover {
            border: 1px solid var(--main-100, #008AFF);
            color: var(--main-100);
        }
    }

    &__list {
        display: flex;
        justify-content: space-between;;
        align-items: stretch;
        flex-wrap: wrap;
        gap: 12px;
        align-self: stretch;
        
    }

    &__item {
        min-width: calc(25% - 18px);
        max-width: calc(25% - 18px);
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 8px;
        flex: 1 0 0;
        border-radius: 20px;
        border: 1px solid var(--vulcan-4, rgba(9, 10, 18, 0.05));
        background: var(--white-100, #FFF);
        position: relative;

        &--custom {
            border: 1px solid #008AFF;

            &:after {
                content: 'News for You';
                position: absolute;
                top: 8px;
                left: 8px;
                display: inline-flex;
                padding: 4px 12px;
                justify-content: center;
                align-items: center;
                gap: 16px;
                border-radius: 200px;
                background: rgba(0, 138, 255, 0.66);
                backdrop-filter: blur(8.25px);
                color: #FFF;
                text-align: center;
                font-size: 12px;
                font-weight: 500;

            }
        }
    }

    &__image {
        border-radius: 20px 20px 0 0;
        height: 158px;
        overflow: hidden;

        img {
            height: 158px;
            object-fit: cover;
            object-position: left center;
        }
    }

    &__content {
        display: flex;
        padding: 16px 20px 20px 20px;
        flex-direction: column;
        align-items: flex-start;
        gap: 8px;
        align-self: stretch;
    }

    &__title {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
        line-height: 140%;
         overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        
        display: -moz-box;
        -moz-box-orient: vertical;
        -moz-line-clamp: 2;
        
        display: box;
        box-orient: vertical;
        line-clamp: 2;
    }

    &__text {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        text-overflow: ellipsis;
        
        display: -moz-box;
        -moz-box-orient: vertical;
        -moz-line-clamp: 2;
        
        display: box;
        box-orient: vertical;
        line-clamp: 2;

        color: var(--vulcan-60);
        line-height: 1.2;
    }

    &__btn {
        display: flex;
        padding: 4px 4px 4px 24px;
        justify-content: space-between;
        align-items: center;
        gap: 24px;
        border-radius: 12px;
        background: var(--vulcan, #090A12);
        color: var(--white-100, #FFF);
        font-weight: 500;
        width: 160px;
        margin: 12px auto;

        

        span {
            display: flex;
            padding: 8px;
            align-items: center;
            gap: 10px;
            border-radius: 8px;
            background: var(--main-100, #008AFF);
            transition: all .3s ease;

                svg {
                    fill: var(--white-100);
    
                }

            }

        &:hover {
            background: var(--main-100, #008AFF);

            span {
                background: var(--vulcan, #090A12);
            }
        }
    }
     
}