.sports {
    display: flex;
    flex-direction: column;
    padding: 24px 24px 0 24px;

    &__tabs {
        display: flex;
        align-items: center;
        justify-content: stretch;
        width: 100%;
    }

    &__tab {
        display: flex;
        padding: 0 24px 16px 24px;
        justify-content: center;
        align-items: center;
        gap: 10px;
        flex: 1 0 0;
        border-bottom: 1px solid var(--vulcan-4, rgba(9, 10, 18, 0.05));
        font-size: 22px;
        font-weight: 500;
        opacity: 0.4;

        &--active {
            border-bottom: 1px solid var(--vulcan, #090A12);
            opacity: 1;
        }
    }

  &__continer {
    display: none;

    &--active {
      display: flex;
        flex-direction: column;
    }
  }

  .date-picker {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 20px 0;
    gap: 10px;

    button {
        display: flex;
        padding: 6px 16px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 16px;
        border: 1px solid var(--vulcan-10, rgba(9, 10, 18, 0.10));

        &.active {
            border: 1px solid var(--main-100, #008AFF);
            color: var(--main-100);
        }
    }
  }

  .league {
    display: flex;
    flex-wrap: wrap;
    row-gap: 12px;
    column-gap: 24px;
    padding: 20px 0;
    border-top: 1px solid var(--vulcan-4, rgba(9, 10, 18, 0.05));

    &__header {
        display: flex;
        align-items: center;
        gap: 12px;
        width: 100%;
    }

    &__logo {
        display: flex;
        padding: 6px;
        align-items: center;
        justify-content: center;
        width: 42px;
        height: 42px;
        border-radius: 9px;
        background: var(--white-100, #FFF);

        img {
            width: 24px;
            height: 24px;
            object-fit: contain;
        }
    }

    .match {
        display: flex;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 17px;
        border-radius: 20px;
        border: 1px solid var(--vulcan-4, rgba(9, 10, 18, 0.05));
        background: var(--white-100, #FFF);
        width: calc(50% - 12px);
    }

    .team {
        flex:1;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 12px;

        &--2 {
            justify-content: flex-end;
        }

        &__logo {
            display: flex;
            padding: 8px;
            align-items: center;
            justify-content: center;
            width: 36px;
            min-width: 36px;
            height: 36px;
            border-radius: 12px;
            background: var(--vulcan-4, rgba(9, 10, 18, 0.05));
        }
    }

    .time {
        display: flex;
        padding: 8px;
        justify-content: center;
        align-items: center;
        gap: 17px;
        border-radius: 20px;
        border: 1px solid var(--vulcan-4, rgba(9, 10, 18, 0.05));
       background: var(--main-4);

        strong {
            color: var(--main-100, #008AFF); 
            background: var(--main-4);
            font-weight: 500;
            padding: 0 6px;
        }
    }
  }
}