.telegram-banner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    height: 239px;
    padding: 40px;
    border-radius: 24px;


    &__title {
        color: var(--white-100, #FFF);
        font-size: 34px;
        font-weight: 500;
        line-height: 1.2;
    }
}  