.slider {
    width: 1180px;
    overflow: hidden;
    margin-left: -40px;
    margin-right: -40px;

    .slide {
        position: relative;
        display: flex;
        padding: 6px 12px;
        justify-content: center;
        align-items: center;
        gap: 8px;
        border-radius: 16px;
        background: linear-gradient(0deg, #008AFF 0%, #008AFF 100%);
        overflow: hidden;

        &:before {
            content: '';
            position: absolute;
            width: 100%; 
            height: 100%;
            background: url(images/slider-bg.webp) center no-repeat;
            z-index: 0;

        }

        &:after {
            content: '';
            position: absolute;
            width: 100%; 
            height: 368px;
            border-radius: 16px;
            bottom: 0;
            background: linear-gradient(0deg, rgba(0, 138, 255, 0.70) 0%, rgba(0, 138, 255, 0.00) 37.36%);
            z-index: 1;
        }

        &__player {
            position: absolute;
            bottom: 0;
            z-index: 0;

            &--1 {
                left: 0;
            }

             &--2 {
                right: 0;
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 32px;
            padding: 40px 0;
            position: relative;
            z-index: 2;
            color: var(--white-100, #FFF);
        }

        &__teams {
            display: flex;
            align-items: center;
            gap: 24px;
        }

        &__match {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;

            &-title {
               font-size: 20px;
                font-weight: 500; 
            }

            &-date {
                opacity: 0.6;
            }

            &-scores {
                display: flex;
                gap: 6px;

                span {
                    display: flex;
                    padding: 6px 12px;
                    justify-content: center;
                    align-items: center;
                    gap: 8px;
                    border-radius: 16px;
                    border: 1px solid var(--white-100, #FFF);
                    background: var(--white-10, rgba(255, 255, 255, 0.10));
                    backdrop-filter: blur(4.650000095367432px);
                }
            }
        }

        &__timer {
            display: flex;
            align-items: center;
            gap: 16px;

            div {
                display: flex;
                flex-direction: column;
                align-items: center;
                min-width: 60px;

                div {
                    font-size: 28px;
                    font-weight: 500;
                    height: 34px;
                }

                span {
                    font-size: 16px;
                    opacity: 0.6;
                }
            }
        }

        &__controls {
            display: flex;
            gap: 12px;
        }

        &__btn {
            display: flex;
            width: 222px;
            padding: 16px 24px;
            justify-content: center;
            align-items: flex-end;
            gap: 12px;
            font-size: 16px;
            font-weight: 500;
            border-radius: 1440px;

            &--1 {
                background: var(--white-100, #FFF);
                color: var(--main-100, #008AFF);
            }

            &--2 {
                border: 2px solid var(--white-100, #FFF);
            }
        }
    }
}

.swiper-container {
    width: 100%;
    max-width: 1180px;
    height: 100%;
    padding: 0 40px; /* Добавьте отступы по бокам */
}

.swiper-wrapper {
    display: flex;
    align-items: center;
}

.swiper-slide {
    width: 1100px !important;
    display: flex;
    
    .slide {
        transform: scale(0.80) !important;
         transition: all 0.3s ease-in-out;
    }

    .slide__content {
         transform: scale(0.80) !important;
         transition: all 0.3s ease-in-out;
    }
}

.swiper-slide-active {
justify-content: center;

    .slide {
        transform: scale(1) !important;  
    }
    .slide__content {
         transform: scale(1) !important;
    }
} 

.swiper-slide-next {
    display: flex !important;
justify-content: flex-start;

    .slide {
        margin-left: -40px;
    }
}

.swiper-slide-prev {
    display: flex !important;
justify-content: flex-end;
 .slide {
        margin-right: -40px;
    }

}
