@import 'variables';

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none;
}

html {
  height: 100%;
  width: 100%;
  margin: 0; 
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  scroll-behavior: smooth;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1; 
  position: relative;
  -webkit-text-size-adjust: none;
  margin: 0;
  overflow-x: hidden; 
  background: var(--bg);
  color: var(--vulcan);
  scroll-behavior: smooth;
}

main {  
  position: relative;
  padding: 0;
  display: flex; 
}

a {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

input, textarea, select, button {
  font-family: inherit;
  outline: none;
  background: transparent;
  border: none;
}
input::-webkit-outer-spin-button, input::-webkit-inner-spin-button, textarea::-webkit-outer-spin-button, textarea::-webkit-inner-spin-button, select::-webkit-outer-spin-button, select::-webkit-inner-spin-button, button::-webkit-outer-spin-button, button::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input::-webkit-search-decoration, input::-webkit-search-cancel-button, input::-webkit-search-results-button, input::-webkit-search-results-decoration, textarea::-webkit-search-decoration, textarea::-webkit-search-cancel-button, textarea::-webkit-search-results-button, textarea::-webkit-search-results-decoration, select::-webkit-search-decoration, select::-webkit-search-cancel-button, select::-webkit-search-results-button, select::-webkit-search-results-decoration, button::-webkit-search-decoration, button::-webkit-search-cancel-button, button::-webkit-search-results-button, button::-webkit-search-results-decoration {
  display: none;
}
input:focus::placeholder, textarea:focus::placeholder, select:focus::placeholder, button:focus::placeholder {
  visibility: hidden;
}

input[type=number] {
  appearance: textfield;
  -moz-appearance: textfield;
}

img {
  max-width: 100%;
  max-height: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

.main-width {
  width: 100%;
  max-width: 1440px;
  padding: 0 24px;
  margin: 0 auto;
} 

.btn {
    display: flex;
    padding: 8px 16px;
    height: 36px;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
    background: var(--main-100, #008AFF); 
    color: var(--white-100);
    font-weight: 500;
}

h2 {
  margin: 0;
  font-size: 20px;
  font-weight: 500;
}

.main-container {
    display: flex;
    align-items: flex-start;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex: 1;
  padding: 40px 16px 0 40px;
}

.container {
    border-radius: 24px;
    background: var(--white-60, rgba(255, 255, 255, 0.60));
    padding: 8px;
}

@import 'header';
@import 'sidebar';
@import 'top-slider';
@import 'sports';
@import 'app-banner';
@import 'news';
@import 'telegram-banner';
@import 'tab';
@import 'teams';
@import 'app-popup';
@import 'footer'; 
@import 'bottom-panel';
@import 'mobile';